.text-bold {
    font-weight: bold;
}

a:hover {
    color: pink;
    font-size: 48px;
}

a:visited {
    color: white;
  }

a:visited:hover {
    color: pink;
    
  }

body {
    background-color: slategray;
}

.text-center {
  text-align: center;
}

.fixed {
  position: fixed;
  top: 0;
  background-color: lightblue;
  margin: 0;
  left: 0;
  padding: 10px;
}